<div style="background-color: #f8f8f8">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
    <tbody>
      <tr>
        <td>
          <div style="margin: 0px auto; max-width: 600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
              <tbody>
                <tr>
                  <td style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 20px 0;
                      padding-bottom: 20px;
                      padding-top: 40px;
                      text-align: center;
                    ">
                    <!-- LOGO HEADER -->
                    <div style="margin: 0px auto; max-width: 600px">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="width: 100%">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 20px 0;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="
                                          vertical-align: top;
                                          padding-bottom: 0px;
                                        ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          width="100%">
                                          <tbody>
                                            <tr>
                                              <td align="left" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  padding-bottom: 30px;
                                                  padding-left: 0px;
                                                  word-break: break-word;
                                                ">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                  style="
                                                    border-collapse: collapse;
                                                    border-spacing: 0px;
                                                  ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="width: 150px">
                                                         <img alt="OBLogo" height="auto"
                                                          src="https://i.ibb.co/Q8CYGVX/logo-artifact.png"
                                                          style="
                                                            border: 0;
                                                            display: block;
                                                            outline: none;
                                                            text-decoration: none;
                                                            height: auto;
                                                            width: 100%;
                                                            font-size: 13px;
                                                          " width="150" class="CToWUd" data-bit="iit" />
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- FOTO HEADER -->
                    <div style="margin: 0 auto; max-width: 600px">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
                        <tbody>
                          <tr style="vertical-align: top">
                            <td
                              background="https://res.cloudinary.com/openbootcamp/image/upload/v1652782558/OpenBootcamp/imagen_bienvenida_openbootcamp_tur7ms.png"
                              style="
                                background: #121a42
                                  url('https://res.cloudinary.com/openbootcamp/image/upload/v1652782558/OpenBootcamp/imagen_bienvenida_openbootcamp_tur7ms.png')
                                  no-repeat center center/cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                padding: 0px;
                                vertical-align: top;
                              " height="175">
                              <div style="margin: 0px auto">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                  style="width: 100%; margin: 0px">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          style="width: 100%; margin: 0px">
                                          <tbody></tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- TITULO PRINCIPAL -->
                    <div style="
                        background: #ffffff;
                        background-color: #ffffff;
                        margin: 0px auto;
                        max-width: 600px;
                      ">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
                          background: #ffffff;
                          background-color: #ffffff;
                          width: 100%;
                        ">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 20px 0;
                                padding-bottom: 0px;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="
                                          vertical-align: top;
                                          padding-right: 10px;
                                          padding-bottom: 0px;
                                          padding-left: 10px;
                                        ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          width="100%">
                                          <tbody>
                                            <tr>
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  padding-top: 10px;
                                                  padding-bottom: 10px;
                                                  word-break: break-word;
                                                ">
                                                <div style="
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      Segoe UI, Roboto, Oxygen,
                                                      Ubuntu, Cantarell,
                                                      Fira Sans, Droid Sans,
                                                      Helvetica Neue, sans-serif;
                                                    font-size: 24px;
                                                    font-weight: 700;
                                                    line-height: 24px;
                                                    text-align: center;
                                                    text-transform: uppercase;
                                                    color: #000000;
                                                  ">
                                                  Bienvenido/a ${USUARIO}
                                                </div>
                                              </td>
                                            </tr>

                                            <!-- <tr>
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  padding-bottom: 30px;
                                                  word-break: break-word;
                                                ">
                                                <div style="
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      Segoe UI, Roboto, Oxygen,
                                                      Ubuntu, Cantarell,
                                                      Fira Sans, Droid Sans,
                                                      Helvetica Neue, sans-serif;
                                                    font-size: 24px;
                                                    font-weight: 400;
                                                    line-height: 24px;
                                                    text-align: center;
                                                    text-transform: uppercase;
                                                    color: #000000;
                                                  ">
                                                  ${SUBTITULO}
                                                </div>
                                              </td>
                                            </tr> -->
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- SEPARADOR -->
                    <div style="
                        background: #ffffff;
                        background-color: #ffffff;
                        margin: 0px auto;
                        max-width: 600px;
                      ">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
                          background: #ffffff;
                          background-color: #ffffff;
                          width: 100%;
                        ">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 0px;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="
                                          vertical-align: top;
                                          padding-right: 10px;
                                          padding-left: 10px;
                                        ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          width="100%">
                                          <tbody>
                                            <tr>
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  word-break: break-word;
                                                ">
                                                <p style="
                                                    border-top: solid 1px
                                                      #dfe3e8;
                                                    font-size: 1px;
                                                    margin: 0px auto;
                                                    width: 100%;
                                                  "></p>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- BODY -->
                    <div style="
                        background: #ffffff;
                        background-color: #ffffff;
                        margin: 0px auto;
                        max-width: 600px;
                      ">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
                          background: #ffffff;
                          background-color: #ffffff;
                          width: 100%;
                        ">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 20px 0;
                                padding-bottom: 16px;
                                padding-left: 10px;
                                padding-right: 10px;
                                padding-top: 0px;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                  style="vertical-align: top" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 20px;
                                            font-weight: bold;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #212b35;
                                          ">
                                          <!-- src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f44b/72.png" -->
                                          <img data-emoji="👋" class="an1" alt="👋" aria-label="👋" loading="lazy" />
                                          ¡Te damos la bienvenida!
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          Hola, ${USUARIO},
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          ¡Bienvenido a nuestro ERP de gestión empresarial! Nos complace que utilices
                                          nuestra plataforma para
                                          gestionar tus usuarios, clientes, pedidos, productos y servicios. Estamos
                                          seguros de que
                                          nuestra herramienta te ayudará a mejorar
                                          la eficiencia y la productividad de tu empresa.
                                        </div>
                                      </td>
                                    </tr>

                                    <!-- <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          ${OTRO_PARRAFO}
                                        </div>
                                      </td>
                                    </tr> -->

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          Queremos asegurarnos de que aproveches al máximo nuestra plataforma, por lo
                                          que te proporcionamos algunos consejos
                                          útiles para empezar:
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          <ul>
                                            <li>
                                              Explora todas las funciones de nuestra plataforma y familiarízate con
                                              ellas.
                                            </li>
                                            <li>
                                              Utiliza nuestras herramientas de informes para obtener información valiosa
                                              sobre tus pedidos, usuarios, productos y
                                              servicios.
                                            </li>
                                            <li>
                                              Si tienes alguna pregunta o problema, no dudes en ponerte en contacto con
                                              nuestro equipo de soporte técnico.
                                            </li>
                                          </ul>
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          Además, te invitamos a unirte a nuestra comunidad de usuarios para compartir
                                          tus experiencias y aprender de otros
                                          usuarios.
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td align="left" style="
                                          font-size: 0px;
                                          padding: 10px 25px;
                                          word-break: break-word;
                                        ">
                                        <div style="
                                            font-family: -apple-system,
                                              BlinkMacSystemFont, Segoe UI,
                                              Roboto, Oxygen, Ubuntu, Cantarell,
                                              Fira Sans, Droid Sans,
                                              Helvetica Neue, sans-serif;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 24px;
                                            text-align: left;
                                            color: #637381;
                                          ">
                                          Gracias por elegir nuestro ERP de gestión empresarial. Esperamos que disfrutes
                                          utilizando nuestra plataforma y que te
                                          ayude a hacer crecer tu empresa.
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- BOTON IR A -->
                    <div style="
                        background: #ffffff;
                        background-color: #ffffff;
                        margin: 0px auto;
                        max-width: 600px;
                      ">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
                          background: #ffffff;
                          background-color: #ffffff;
                          width: 100%;
                        ">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 20px 0;
                                padding-left: 16px;
                                padding-right: 16px;
                                padding-top: 0;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                  style="vertical-align: top" width="100%">
                                  <tbody>
                                    <tr>
                                      <td align="center" style="
                                          font-size: 0px;
                                          padding: 5px;
                                          word-break: break-word;
                                        ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="
                                            border-collapse: separate;
                                            width: 100%;
                                            line-height: 100%;
                                          ">
                                          <tbody>
                                            <tr>
                                              <td align="center" bgcolor="#121A42" role="presentation" style="
                                                  border: none;
                                                  border-radius: 3px;
                                                  height: 46px;
                                                  background: #121a42;
                                                " valign="middle">
                                                <a href="http://${HOST_URL}" style="
                                                    display: inline-block;
                                                    background: #121a42;
                                                    color: #ffffff;
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      Segoe UI, Roboto, Oxygen,
                                                      Ubuntu, Cantarell,
                                                      Fira Sans, Droid Sans,
                                                      Helvetica Neue, sans-serif;
                                                    font-size: 16px;
                                                    font-weight: bold;
                                                    line-height: 120%;
                                                    margin: 0;
                                                    text-decoration: none;
                                                    text-transform: none;
                                                    padding: 10px 25px;
                                                    border-radius: 3px;
                                                  " target="_blank">
                                                  Ir a Back office Crisalis
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- FOOTER -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
    <tbody>
      <tr>
        <td>
          <div style="margin: 0px auto; max-width: 600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
              <tbody>
                <tr>
                  <td style="
                      direction: ltr;
                      font-size: 0px;
                      padding: 20px 0;
                      text-align: center;
                    ">
                    <div style="margin: 0px auto; max-width: 600px">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                        style="width: 100%">
                        <tbody>
                          <tr>
                            <td style="
                                direction: ltr;
                                font-size: 0px;
                                padding: 20px 0;
                                text-align: center;
                              ">
                              <div class="m_2320152498474701012mj-column-per-100" style="
                                  font-size: 0px;
                                  text-align: left;
                                  direction: ltr;
                                  display: inline-block;
                                  vertical-align: top;
                                  width: 100%;
                                ">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="vertical-align: top; padding: 0">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          width="100%">
                                          <tbody>
                                            <tr>
                                              <!-- REDES SOCIALES -->
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 0;
                                                  word-break: break-word;
                                                ">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                  role="presentation" style="
                                                    float: none;
                                                    display: inline-table;
                                                  ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                          padding: 4px;
                                                          vertical-align: middle;
                                                        ">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                          role="presentation" style="
                                                            background: #a1a0a0;
                                                            border-radius: 8px;
                                                            width: 30px;
                                                          ">
                                                          <tbody>
                                                            <tr>
                                                              <td style="
                                                                  font-size: 0;
                                                                  height: 30px;
                                                                  vertical-align: middle;
                                                                  width: 30px;
                                                                ">
                                                                <a href="https://www.instagram.com/" target="_blank">
                                                                  <img height="30"
                                                                    src="https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png"
                                                                    style="
                                                                      border-radius: 8px;
                                                                      display: block;
                                                                    " width="30" class="CToWUd" data-bit="iit" />
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                  role="presentation" style="
                                                    float: none;
                                                    display: inline-table;
                                                  ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                          padding: 4px;
                                                          vertical-align: middle;
                                                        ">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                          role="presentation" style="
                                                            background: #a1a0a0;
                                                            border-radius: 8px;
                                                            width: 30px;
                                                          ">
                                                          <tbody>
                                                            <tr>
                                                              <td style="
                                                                  font-size: 0;
                                                                  height: 30px;
                                                                  vertical-align: middle;
                                                                  width: 30px;
                                                                ">
                                                                <a href="https://twitter.com/" target="_blank">
                                                                  <img height="30"
                                                                    src="https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png"
                                                                    style="
                                                                      border-radius: 8px;
                                                                      display: block;
                                                                    " width="30" class="CToWUd" data-bit="iit" />
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                  role="presentation" style="
                                                    float: none;
                                                    display: inline-table;
                                                  ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                          padding: 4px;
                                                          vertical-align: middle;
                                                        ">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                          role="presentation" style="
                                                            background: #a1a0a0;
                                                            border-radius: 8px;
                                                            width: 30px;
                                                          ">
                                                          <tbody>
                                                            <tr>
                                                              <td style="
                                                                  font-size: 0;
                                                                  height: 30px;
                                                                  vertical-align: middle;
                                                                  width: 30px;
                                                                ">
                                                                <a href="https://www.linkedin.com/" target="_blank">
                                                                  <img height="30"
                                                                    src="https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png"
                                                                    style="
                                                                      border-radius: 8px;
                                                                      display: block;
                                                                    " width="30" class="CToWUd" data-bit="iit" />
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  padding-top: 15px;
                                                  word-break: break-word;
                                                ">
                                                <div style="
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      Segoe UI, Roboto, Oxygen,
                                                      Ubuntu, Cantarell,
                                                      Fira Sans, Droid Sans,
                                                      Helvetica Neue, sans-serif;
                                                    font-size: 11px;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    text-align: center;
                                                    color: #445566;
                                                  ">
                                                  Has recibido este mail porque
                                                  estás registrado como usuario en Back office Crisalis. Si has
                                                  recibido este mail por error
                                                  ponte en contacto con nosotros
                                                  para que borremos tu perfil de
                                                  nuestra base de datos.
                                                </div>
                                              </td>
                                            </tr>
                                            <!-- LEYENDA -->
                                            <tr>
                                              <td align="center" style="
                                                  font-size: 0px;
                                                  padding: 10px 25px;
                                                  word-break: break-word;
                                                ">
                                                <div style="
                                                    font-family: -apple-system,
                                                      BlinkMacSystemFont,
                                                      Segoe UI, Roboto, Oxygen,
                                                      Ubuntu, Cantarell,
                                                      Fira Sans, Droid Sans,
                                                      Helvetica Neue, sans-serif;
                                                    font-size: 11px;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    text-align: center;
                                                    color: #445566;
                                                  ">
                                                  © 2023 Back office Crisalis, Todos los
                                                  derechos reservados.
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>